/*
 * MAIN
 */
.site-wrapper {
  background-image: url('../images/stacked-rocks.JPG');
  background-size: cover;
  background-repeat: no-repeat;
}

.inner.cover {
  border-radius: 2em;
  padding: 2em;
  background: rgba(155,155,155,.7);
  /*opacity: 0.75;
  filter: alpha(opacity=75);*/
}
.cover-heading.name { 
  margin-bottom: .7rem;
}

.text-green {
  color: rgb(0, 230, 77);
}

a.contact:hover {
  text-decoration: none;
}

.fa-stack {
  font-size 0.35s ease;
}
.fa-stack:hover{
  font-size:2em;
}
/*.circle {
  background-color:black;
  color: #aaa;
  border-radius: 50%;
  display: inline-block;
  height: 250px;
  width: 250px;
  padding: 30px;
  padding-top: 40px;
  margin: 20px;
}

.img-link {
  height: 40px;
  width: 40px;
}

.links a span {
  transition: all 200ms ease-in;
  transform: scale(1);
  opacity: 1;
}*/
