/*
 * MAIN
 */
.site-wrapper {
  background-image: url('../images/stacked-rocks.JPG');
  background-size: cover;
  background-repeat: no-repeat;
}

.text-box {
  padding: 2em;
  background: rgba(155,155,155,.7);
  /*opacity: 0.75;
  filter: alpha(opacity=75);*/
}
.curve-box {
  border-radius: 2em;
}
.cover-heading.name { 
  margin-bottom: .7rem;
}

.text-green {
  color: rgb(0, 230, 77);
}

a.contact:hover {
  text-decoration: none;
}

.fa-stack {
  font-size 0.35s ease;
}
.fa-stack:hover{
  font-size:2em;
}


/*
 * ABOUT
 */
.content {
  padding-bottom: 5rem;
}
@media (min-width: 40em) {
  /* remove padding of content */
  .content{
    padding-top:5rem;
  }
}

