/*
 * MAIN
 */
.site-wrapper {
  background-image: url('../images/dark_wood.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.inner.cover img {
  width: 200px;
  border-radius:100%;
  margin-bottom: 2rem;
}

.text-box {
  padding: 2em;
  /*background: rgba(200,200,200,.7);*/
  /*opacity: 0.75;
  filter: alpha(opacity=75);*/
}
.curve-box {
  border-radius: .25rem;
}
.cover-heading.name { 
  margin-bottom: .7rem;
}

.text-green {
  color: rgb(0, 140, 47);
}

a.contact:hover {
  text-decoration: none;
}

.fa-stack {
  font-size 0.35s ease;
}
.fa-stack:hover{
  font-size:2em;
}


/*
 * ABOUT
 */
.content {
  padding-bottom: 5rem;
}
@media (min-width: 40em) {
  /* remove padding of content */
  .content{
    padding-top:5rem;
  }
}

